.yellow{
    color:yellow;
}

.arabic{
    background: chocolate;
}

.french{
    background: cornflowerblue;

}

.tifinagh{
    background: crimson;
}

.darija{
    background: darkslategray;

}

.english{
    background: darkmagenta;
}

.new{
    background: slateblue;
}

.exclusive{
    background: tomato;
}